<% @dmdvts.each do |dmdvt| %>
    <tr>
      <td><%= dmdvt.stt %></td>
      <td><%= dmdvt.ten %></td>
      <td><%= link_to edit_dmdvt_path(dmdvt), data: {remote: true}, :title => t('edit') do %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to dmdvt_delete_path(dmdvt), data: {remote: true}, :title => t('delete') do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>

    </tr>
<% end %>
