<% @dmnhomins.each do |dmnhomin| %>
    <tr>
      <td><%= dmnhomin.stt %></td>
      <td><%= dmnhomin.ten %></td>
      <td><%= link_to edit_dmnhomin_path(dmnhomin), data: {remote: true}, :title => t('edit') do %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to dmnhomin_delete_path(dmnhomin), data: {remote: true}, :title => t('delete') do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>

    </tr>
<% end %>
