<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="Service" value="5YZLjq2zAEzcNLizdDhMMw==" />
        <add key="Tablespace" value="5YZLjq2zAEzcNLizdDhMMw==" />
        <add key="User" value="zwkXHIlO4e7cNLizdDhMMw==" />
        <add key="Password" value="zwkXHIlO4e7cNLizdDhMMw==" />
        <add key="SystemPassword" value="NLlMrfmMuXVxlMd7tH+6EA==" />
        <add key="LoginUser" value="Jki7GxFpLbQ=" />
        <add key="LoginPassword" value="Jki7GxFpLbQ=" />
    </appSettings>
</configuration>