<% @dmnhombcs.each do |dmnhombc| %>
    <tr>
      <td><%= dmnhombc.stt %></td>
      <td><%= dmnhombc.ten %></td>
      <td><%= link_to edit_dmnhombc_path(dmnhombc), data: {remote: true}, :title => t('edit') do %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to dmnhombc_delete_path(dmnhombc), data: {remote: true}, :title => t('delete') do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>

    </tr>
<% end %>
