xóa bớt dùm đơn thuốc của TTCDYK: 08047096; 10008117; 10006069; 08131197 vào khám ngày 29/01/2010

ly do nhu vay ne : la 4 ca nay kham o TTCDTK - Duoc huy toa nham - xong vi tinh huy luon dot kham do - nen khi nhap lai Vien Phi bi tang len gap doi - Nhung Duoc van dung - Vay do 
Gio nho a xoa bot 1 dot ben Vien Phi dum la duoc
select * from medibv0110.bhytkb a, medibv0110.bhytthuoc b where a.id=b.id and a.mabn in('08047096','10008117','10006069') and to_char(ngay,'ddmmyy')='290110'
select * from medibv0210.bhytkb where mabn='10006069' and id=100129000005852233
select * from medibv0210.bhytthuoc where id=100129000005852233
--delete from medibv0210.bhytthuoc where id=100129000004994156
--delete from medibv0210.bhytkb where mabn='08131197' and id=100129000004994156


--delete from medibv0210.bhytthuoc where id=100129000009284264
--delete from medibv0210.bhytkb where mabn='08047096' and id=100129000009284264
--
--delete from medibv0210.bhytthuoc where id=100129000007071199
--delete from medibv0210.bhytkb where mabn='10008117' and id=100129000007071199

--delete from medibv0210.bhytthuoc where id=100129000005852233
--delete from medibv0210.bhytkb where mabn='10006069' and id=100129000005852233