<% @dmnhomnhaccs.each do |dmnhomnhacc| %>
    <tr>
      <td><%= dmnhomnhacc.stt %></td>
      <td><%= dmnhomnhacc.ten %></td>
      <td><%= link_to edit_dmnhomnhacc_path(dmnhomnhacc), data: {remote: true}, :title => t('edit') do %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to dmnhomnhacc_delete_path(dmnhomnhacc), data: {remote: true}, :title => t('delete') do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>

    </tr>
<% end %>
