<div class="form-index">
    <%= render "table_danhsachnhap" %>
</div>
<div id="form-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-form-modal" class="modal-content"></div>
  </div>
</div>
