<li><a href="#" id="business"><%= t "business" %></a></li>
<li><a href="#" id="categories"><%= t "categories" %></a></li>
<li><a href="#" id="manage_users"><%= t "manage_users" %></a></li>
<li><a href="#" id="settings"><%= t "settings" %></a></li>

<!--<li><a href="#" id="business">Nghiệp vụ</a></li>
<li><a href="#" id="categories">Danh mục</a></li>
<li><a href="#" id="manage_users">Quản lý người dùng</a></li>
<li><a href="#" id="settings">Cài đặt</a></li>!-->
